@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-slate-200 text-gray-900 dark:bg-gray-900 dark:text-white;
} */
body {
  @apply bg-slate-200 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
}
